<section class="bg-background py-16 px-5vw text-center text-textMain">
    <div class="container mx-auto">
      <h1 class="text-5xl font-bold font-mono mb-6">Bienvenido a Code Community Hub</h1>
      <p class="text-xl font-light mb-6 ">
        Una plataforma diseñada para conectar empresas con desarrolladores tecnológicos validados y puntuados por reclutadores profesionales, simplificando el proceso de selección al resolver la dispersión de opciones habituales en otras herramientas. Nos enfocamos en centralizar y destacar el talento especializado del sector tecnológico, optimizando la contratación y ayudando a los desarrolladores a impulsar sus carreras profesionales.
      </p>
    </div>
  </section>
  