<section class="bg-background text-textMain py-16 px-5vw mb-10 flex items-center justify-center text-center dark:bg-lightBackground dark:text-lightTextMain">
  <div class="container mx-auto">
    <h1 class="text-5xl font-bold font-mono mb-6">Bienvenido a Code Community Hub</h1>
    <p class="text-xl font-light mb-6">
      Una plataforma diseñada para conectar empresas con desarrolladores tecnológicos validados y puntuados por reclutadores profesionales,
      simplificando el proceso de selección al resolver la dispersión de opciones habituales en otras herramientas.
    </p>
  </div>
</section>
