<section
  class="bg-background text-textMain py-16 px-5vw mb-10 dark:bg-lightBackground dark:text-lightTextMain"
>
  <div
    class="container mx-auto flex flex-col mb-15 md:flex-row items-center justify-between text-center justify-center"
  >
    <!-- Texto -->
    <div class="w-full md:w-1/2 px-4">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold font-mono mb-6 whitespace-nowrap">
        ¿Qué ofrecemos a los desarrolladores?
      </h2>
      <p class="text-lg font-light mb-6 text-justify">
        Crea tu perfil profesional, validado y puntuado por reclutadores
        expertos, para destacar entre los mejores talentos tecnológicos. Tu
        perfil estará accesible para empresas que buscan desarrolladores de
        calidad.
      </p>
      <p class="text-lg font-light mb-6 text-justify">
        Además, te ofrecemos la posibilidad de recibir asesoramiento laboral y
        educativo para seguir avanzando en tu carrera.
      </p>
      <button
        class="px-6 py-3 rounded-lg font-mono font-semibold transition-colors 
        bg-buttonBackgroundDark text-buttonTextDark hover:bg-buttonHoverBackgroundDark hover:text-buttonHoverTextDark hover:border-buttonBorderDark border-2 border-transparent
        dark:bg-buttonBackgroundLight dark:text-buttonTextLight 
        dark:hover:bg-buttonHoverBackgroundLight dark:hover:text-buttonHoverTextLight dark:hover:border-buttonBorderLight shadow-button"
      >
        Crear perfil
      </button>
    </div>

    <!-- Imagen -->
    <div class="w-full md:w-1/2 mb-8 md:mb-0 px-4 flex justify-center">
      <img
        src="https://via.placeholder.com/500x300"
        alt="Desarrolladores"
        class="rounded-lg shadow-card"
      />
    </div>
  </div>
</section>
