<section
  class="bg-background text-textMain py-16 px-5vw mb-10 dark:bg-lightBackground dark:text-lightTextMain"
>
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between text-center md:text-left"
  >
    <div class="w-full md:w-1/2 mb-8 md:mb-0 px-4 flex justify-center">
      <img
        src="https://via.placeholder.com/500x300"
        alt="Trabaja con Nosotros"
        class="rounded-lg shadow-card"
      />
    </div>
    <div class="w-full md:w-1/2 px-4">
      <h2 class="text-4xl font-bold font-mono mb-6">Trabaja con Nosotros</h2>
      <p class="text-lg font-light mb-6 text-justify">
        ¿Eres un reclutador profesional, asesor laboral o educativo? Únete a
        nuestro equipo y ayuda a construir una comunidad tecnológica sólida.
      </p>
      <p class="text-lg font-light mb-6 text-justify">
        En Code Community Hub buscamos colaboradores apasionados por conectar
        talento con empresas, mejorando la calidad de las contrataciones
        tecnológicas.
      </p>
      <button
        class="px-6 py-3 rounded-lg font-mono font-semibold transition-colors bg-buttonBackgroundDark text-buttonTextDark hover:bg-buttonHoverBackgroundDark hover:text-buttonHoverTextDark hover:border-buttonBorderDark border-2 border-transparent dark:bg-buttonBackgroundLight dark:text-buttonTextLight dark:hover:bg-buttonHoverBackgroundLight dark:hover:text-buttonHoverTextLight dark:hover:border-buttonBorderLight shadow-button"
      >
        Enviar solicitud
      </button>
    </div>
  </div>
</section>
